$white: #ffffff;
$black: #000000;
$gray-bg: #f3f3f3;
$gray-icons: #c6c6c6;
$dark-gray: #707070;
$light-blue: #7e7ef1;
$dark-blue: #305eca;
$shadow-black: #00000029;
$light-blue-modal: #33a3dc;
$success: #44d36a;
$red: #f89797;
